@charset "utf-8";

body {
  margin: 0;
  font-family: "Crimson Text";
}

h1 {
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

/*    ---幅設定(main, footer)----- */

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 18px;
}

/*     ----header内ロゴ幅設定---- */

.site-title { 
  width: 110px;
  line-height: 1px;
  border: 2px solid green;
  /* margin-right: 50px; */
}

.site-title a {
  display: block;
}

.section-title {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 4px;
}

.section-title-en {
  display: inline-block;
  margin-bottom: 25px;
}


/*   --一番上の画像----- */

#mainvisual {
  width: 90vw;
  margin: 4% auto 0;
}

#header {
  width: 90vw;
  display: flex;
  align-items: center;
  padding: 32px 0;
  margin: 0 auto 30px;
  border: 2px solid red;
}

#header ul {
  display: flex;
  border: 2px solid blue;
}


#header li {
  font-size: 0.875rem;
  margin-right: 30px;
}

#header li:last-child {
  margin-right: 0;
}


/*    ------Concept, Work------- */

.content {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  border: 2px solid green;
}

.content .img {
  width: 50%;
}

.content .text {
  width: 50%;
  padding: 0 7%;
}

/*  ---footer---- */

#footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  padding: 20px 0;
}

#footer .logo {
  width: 110px;
}

/*   ---SP------- */

@media (max-width: 767px) {
  .section-title {
    font-size: 1.25rem;
  }

  #mainvisual {
    width: 100%;
    margin: 0;
  }

  #mainvisual img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  #header {
    width: 100%;
    padding: 20px 18px;
  }

  #work {
    flex-direction: column-reverse;
  }

  .content {
    flex-direction: column;
  }

 .content .img {
    width: 100%;
    margin-bottom: 10px;
  } 

  .content .text {
    width: 100%;
    padding: 0;
  }
}